@media(max-width:768px){
    .menu{
        flex-direction: column;
        align-items: center;
    }
    .menu a{
        padding: 10px 0px;
        display: none;
    }
    .mimenu{
        display: block;
    }
}
@media(max-width:480px){
    .heroimg{
        display: none;
    
    }
    .serv{
        grid-template-columns: repeat(1,1fr);
        
    }
    .porta{
        grid-template-columns: repeat(1,1fr);
    }
    .contacto{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .for{
        width: 80%;
    }
    .porta{
        padding: 0px;
    }

}
@media(max-width:320px){
    .contacto{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .for{
        width: 80%;
    }
    .porta{
        padding: 0px;
    }

}
    
    
    


    
